{% extends 'base.html.twig' %}

{% block title %}Presentations index{% endblock %}

{% block body %}
    <h1>Presentations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>ModifiedAt</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>BirthDate</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Job</th>
                <th>Content</th>
                <th>PictureLink</th>
                <th>IsPublished</th>
                <th>PublicationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presentation in presentations %}
            <tr>
                <td>{{ presentation.id }}</td>
                <td>{{ presentation.createdAt ? presentation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ presentation.modifiedAt ? presentation.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ presentation.lastName }}</td>
                <td>{{ presentation.firstName }}</td>
                <td>{{ presentation.birthDate ? presentation.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ presentation.email }}</td>
                <td>{{ presentation.phone }}</td>
                <td>{{ presentation.job }}</td>
                <td>{{ presentation.content }}</td>
                <td>{{ presentation.pictureLink }}</td>
                <td>{{ presentation.isPublished ? 'Yes' : 'No' }}</td>
                <td>{{ presentation.publicationDate ? presentation.publicationDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('presentations_show', {'id': presentation.id}) }}">show</a>
                    <a href="{{ path('presentations_edit', {'id': presentation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('presentations_new') }}">Create new</a>
{% endblock %}
