{% extends 'base.html.twig' %}

{% block title %}Presentations{% endblock %}

{% block body %}
    <h1>Presentations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ presentation.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ presentation.createdAt ? presentation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ModifiedAt</th>
                <td>{{ presentation.modifiedAt ? presentation.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ presentation.lastName }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ presentation.firstName }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ presentation.birthDate ? presentation.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ presentation.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ presentation.phone }}</td>
            </tr>
            <tr>
                <th>Job</th>
                <td>{{ presentation.job }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ presentation.content }}</td>
            </tr>
            <tr>
                <th>PictureLink</th>
                <td>{{ presentation.pictureLink }}</td>
            </tr>
            <tr>
                <th>IsPublished</th>
                <td>{{ presentation.isPublished ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>PublicationDate</th>
                <td>{{ presentation.publicationDate ? presentation.publicationDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('presentations_index') }}">back to list</a>

    <a href="{{ path('presentations_edit', {'id': presentation.id}) }}">edit</a>

    {{ include('presentations/_delete_form.html.twig') }}
{% endblock %}
