{% extends 'base_admin.html.twig' %}

{% block title %}Presentation "{{ presentation.job }}"{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-10">
                    <h1 class="display-1">
                        Presentation "{{ presentation.job|raw }}"
                    </h1>
                </div>
                <div class="col-lg-2">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-outline-secondary-custom"  title="Retour vers la liste" href="{{ path('presentations_index') }}">
                            <i class="bi bi-list-ul"></i>
                        </a>
                        <a class="btn btn-outline-warning" title="Modifier" href="{{  path('presentations_edit', {'id': presentation.id})  }}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        {{ include('admin/presentations/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Détail section #}
    <section class="card pt-5 bg-glass">
        <div class="row g-0 align-items-center">
            <div class="col-md-4">
                <img src="{{ asset(presentation.pictureLink) }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <fieldset>
                        <legend>Présentation</legend>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        Nom
                                    </th>
                                    <td>
                                        {{ presentation.lastName }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Prénom
                                    </th>
                                    <td>
                                        {{ presentation.firstName }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Date de naissance
                                    </th>
                                    <td>
                                        {{ presentation.birthDate ? presentation.birthDate|date('Y-m-d') : '' }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Emploie
                                    </th>
                                    <td>
                                        {{ presentation.job }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Description
                                    </th>
                                    <td>
                                        {{ presentation.content }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend>
                            Moyens de contact
                        </legend>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        Email
                                    </th>
                                    <td>
                                        {{ presentation.email }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Téléphone
                                    </th>
                                    <td>
                                        {{ presentation.phone }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend>
                            Etat
                        </legend>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        Est publié
                                    </th>
                                    <td>
                                        {{ presentation.isPublished ? 'Oui' : 'Non' }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Date de publication
                                    </th>
                                    <td>
                                        {{ presentation.publicationDate ? presentation.publicationDate|date('Y-m-d') : '' }}
                                    </td>
                                </tr>
                            </tbody
                    </fieldset>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="text-muted small" scope="col">
                                    Id
                                </th>
                                <th class="text-muted small" scope="col">
                                    Date de création
                                </th>
                                <th class="text-muted small" scope="col">
                                    Date de modification
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-muted small">
                                    {{ presentation.id }}
                                </td>
                                <td class="text-muted small">
                                    {{ presentation.createdAt ? presentation.createdAt|date('Y-m-d H:i:s') : '' }}
                                </td>
                                <td class="text-muted small">
                                    {{ presentation.modifiedAt ? presentation.modifiedAt|date('Y-m-d H:i:s') : '' }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
