{% extends 'base_admin.html.twig' %}

{% block title %}Entreprise "{{ establishment.name }}"{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-10">
                    <h1 class="display-1">
                        Entreprise "{{ establishment.name }}"
                    </h1>
                </div>
                <div class="col-lg-2">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-outline-secondary-custom"  title="Retour vers la liste" href="{{ path('establishments_index') }}">
                            <i class="bi bi-list-ul"></i>
                        </a>
                        <a class="btn btn-outline-warning" title="Modifier" href="{{ path('establishments_edit', {'id': establishment.id}) }}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        {{ include('admin_pages/establishments/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Détail section #}
    <section class="card pt-5 bg-glass">
        <div class="row g-0 align-items-center">
            <div class="col-md-4">
                <img src="{{ asset(establishment.pictureLink) }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <fieldset>
                        <legend>Présentation</legend>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        Nom
                                    </th>
                                    <td>
                                        {{ establishment.name }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Description
                                    </th>
                                    <td>
                                        {{ establishment.content }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Ville
                                    </th>
                                    <td>
                                        {{ establishment.city }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend>
                            Moyens de contact
                        </legend>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        Site web
                                    </th>
                                    <td>
                                        {{ establishment.httpLink }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Email
                                    </th>
                                    <td>
                                        {{ establishment.email }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Téléphone
                                    </th>
                                    <td>
                                        {{ establishment.phone }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="text-muted small" scope="col">
                                    Id
                                </th>
                                <th class="text-muted small" scope="col">
                                    Date de création
                                </th>
                                <th class="text-muted small" scope="col">
                                    Date de modification
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-muted small">
                                    {{ establishment.id }}
                                </td>
                                <td class="text-muted small">
                                    {{ establishment.createdAt ? establishment.createdAt|date('Y-m-d H:i:s') : '' }}
                                </td>
                                <td class="text-muted small">
                                    {{ establishment.modifiedAt ? establishment.modifiedAt|date('Y-m-d H:i:s') : '' }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
