{% extends 'base_admin.html.twig' %}

{% block title %}Technologie "{{ web_technology.name }}"{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-10">
                    <h1 class="display-1">
                        Hobby "{{ web_technology.name }}"
                    </h1>
                </div>
                <div class="col-lg-2">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-outline-secondary-custom"  title="Retour vers la liste" href="{{ path('web_technologies_index') }}">
                            <i class="bi bi-list-ul"></i>
                        </a>
                        <a class="btn btn-outline-warning" title="Modifier" href="{{ path('web_technologies_edit', {'id': web_technology.id}) }}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        {{ include('admin/web_technologies/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Détail section #}
    <section class="card pt-5 bg-glass">
        <div class="row g-0 align-items-center">
            <div class="col-md-4">
                <img src="{{ asset(web_technology.pictureLink) }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th scope="row">
                                    Nom
                                </th>
                                <td>
                                    {{ web_technology.name }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Description
                                </th>
                                <td>
                                    {{ web_technology.content|raw }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Technologie préférée
                                </th>
                                <td>
                                    {{ web_technology.isPrefered ? 'Oui' : 'Non' }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="text-muted small" scope="col">
                                    Id
                                </th>
                                <th class="text-muted small" scope="col">
                                    Date de création
                                </th>
                                <th class="text-muted small" scope="col">
                                    Date de modification
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-muted small">
                                    {{ web_technology.id }}
                                </td>
                                <td class="text-muted small">
                                    {{ web_technology.createdAt ? web_technology.createdAt|date('Y-m-d H:i:s') : '' }}
                                </td>
                                <td class="text-muted small">
                                    {{ web_technology.modifiedAt ? web_technology.modifiedAt|date('Y-m-d H:i:s') : '' }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
