{% extends 'base_admin.html.twig' %}

{% block title %}Liste des hobbies{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-10">
                    <h1 class="display-1">
                        Liste des hobbies
                    </h1>
                </div>
                <div class="col-lg-2">
                    <div class="d-grid gap-2">
                        <a class="btn btn-secondary-custom" title="Ajouter un nouveau hobbie" href="{{ path('hobbies_new') }}">
                            <i class="bi bi-file-earmark-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# List section #}
    <section class="bg-glass py-5 px-2">
        <div  class="table-responsive">
            <table class="table tables-sm">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Date de création
                        </th>
                        <th>
                            Date de modification
                        </th>
                        <th>
                            Titre
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Visuel de l'image
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for hobby in hobbies %}
                    <tr>
                        <td>
                            {{ hobby.id }}
                        </td>
                        <td>
                            {{ hobby.createdAt ? hobby.createdAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td>
                            {{ hobby.modifiedAt ? hobby.modifiedAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td>
                            {{ hobby.name }}
                        </td>
                        <td>
                            {{ hobby.content|raw }}
                        </td>
                        <td>
                            <img class="square-img-20" src="{{ asset(hobby.pictureLink) }}" alt="">
                            <br>
                            {{ hobby.pictureLink }}
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-outline-secondary-custom" title="Détail" href="{{ path('hobbies_show', {'id': hobby.id}) }}">
                                    <i class="bi bi-eye"></i>
                                </a>
                                <a class="btn btn-outline-warning" title="Modifier" href="{{ path('hobbies_edit', {'id': hobby.id}) }}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                {{ include('admin_pages/hobbies/_delete_form.html.twig') }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">
                            Pas d'enregistrement
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    

    
{% endblock %}
