{% extends 'base_admin.html.twig' %}

{% block title %}Hobby "{{ hobby.name }}"{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-10">
                    <h1 class="display-1">
                        Hobby "{{ hobby.name }}"
                    </h1>
                </div>
                <div class="col-lg-2">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-outline-secondary-custom"  title="Retour vers la liste" href="{{ path('hobbies_index') }}">
                            <i class="bi bi-list-ul"></i>
                        </a>
                        <a class="btn btn-outline-warning" title="Modifier" href="{{ path('hobbies_edit', {'id': hobby.id}) }}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        {{ include('admin_pages/hobbies/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Détail section #}
    <section class="card py-5">
            <div class="row g-0 align-items-center">
                <div class="col-md-4">
                    <img src="{{ asset(hobby.pictureLink) }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ hobby.name }}
                        </h5>
                        <p class="card-text">
                            {{ hobby.content|raw }}
                        </p>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th class="text-muted small" scope="col">
                                        Id
                                    </th>
                                    <th class="text-muted small" scope="col">
                                        Date de création
                                    </th>
                                    <th class="text-muted small" scope="col">
                                        Date de modification
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-muted small">
                                        {{ hobby.id }}
                                    </td>
                                    <td class="text-muted small">
                                        {{ hobby.createdAt ? hobby.createdAt|date('Y-m-d H:i:s') : '' }}
                                    </td>
                                    <td class="text-muted small">
                                        {{ hobby.modifiedAt ? hobby.modifiedAt|date('Y-m-d H:i:s') : '' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
