{% extends 'base_admin.html.twig' %}

{% block title %}Liste des mises à jour{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-10">
                    <h1 class="display-1">
                        Liste des mises à jour
                    </h1>
                </div>
                <div class="col-lg-2">
                    <div class="d-grid gap-2">
                        <a class="btn btn-secondary-custom" title="Ajouter une mise à jour" href="{{ path('update_websites_new') }}">
                            <i class="bi bi-file-earmark-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# List section #}
    <section class="bg-glass py-5 px-2">
        <div class="table-responsive">
            <table class="table tables-sm">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Date de création
                        </th>
                        <th>
                            Date de modification
                        </th>
                        <th>
                            Titre
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Version du site
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for update_website in update_websites %}
                    <tr>
                        <td>
                            {{ update_website.id }}
                        </td>
                        <td>
                            {{ update_website.createdAt ? update_website.createdAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td>
                            {{ update_website.modifiedAt ? update_website.modifiedAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td>
                            {{ update_website.name }}
                        </td>
                        <td>
                            {{ update_website.content|raw }}
                        </td>
                        <td>
                            {{ update_website.websites.version }}
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-outline-secondary-custom" title="Détail" href="{{ path('update_websites_show', {'id': update_website.id}) }}">
                                    <i class="bi bi-eye"></i>
                                </a>
                                <a class="btn btn-outline-warning" title="Modifier" href="{{ path('update_websites_edit', {'id': update_website.id}) }}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                {{ include('admin/update_websites/_delete_form.html.twig') }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">
                            Pas d'enregistrement
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
