{% extends 'base_admin.html.twig' %}

{% block title %}Liste des présentations{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-10">
                    <h1 class="display-1">
                        Liste des présentations
                    </h1>
                </div>
                <div class="col-lg-2">
                    <div class="d-grid gap-2">
                        <a class="btn btn-secondary-custom" title="Ajouter une nouvelle présentation" href="{{ path('presentations_new') }}">
                            <i class="bi bi-file-earmark-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# List section #}
    <section class="bg-glass py-5 px5">
        <div class="table-responsive">
            <table class="table tables-sm">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Date de création
                        </th>
                        <th>
                            Date de modification
                        </th>
                        <th>
                            Nom
                        </th>
                        <th>
                            Prénom
                        </th>
                        <th>
                            Date de naissance
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Emploie
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Visuel de l'image
                        </th>
                        <th colspan="2">
                            Publier
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for presentation in presentations %}
                    <tr>
                        <td>
                            {{ presentation.id }}
                        </td>
                        <td>
                            {{ presentation.createdAt ? presentation.createdAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td>
                            {{ presentation.modifiedAt ? presentation.modifiedAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td>
                            {{ presentation.lastName }}
                        </td>
                        <td>
                            {{ presentation.firstName }}
                        </td>
                        <td>
                            {{ presentation.birthDate ? presentation.birthDate|date('Y-m-d') : '' }}
                        </td>
                        <td>
                            {{ presentation.email }}
                        </td>
                        <td>
                            {{ presentation.phone }}
                        </td>
                        <td>
                            {{ presentation.job }}
                        </td>
                        <td>
                            {{ presentation.content }}
                        </td>
                        <td>
                            <img class="square-img-20" src="{{ asset(presentation.pictureLink) }}" alt="">
                            <br>
                            {{ presentation.pictureLink }}
                        </td>
                        <td>
                            {{ presentation.isPublished ? 'Oui' : 'Non' }}
                        </td>
                        <td>
                            {{ presentation.publicationDate ? presentation.publicationDate|date('Y-m-d') : '' }}
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-outline-secondary-custom" title="Détail" href="{{ path('presentations_show', {'id': presentation.id}) }}">
                                    <i class="bi bi-eye"></i>
                                </a>
                                <a class="btn btn-outline-warning" title="Modifier" href="{{ path('presentations_edit', {'id': presentation.id}) }}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                {{ include('admin_pages/presentations/_delete_form.html.twig') }}
                            </div>
                            <a href="{{ path('presentations_show', {'id': presentation.id}) }}">show</a>
                            <a href="{{ path('presentations_edit', {'id': presentation.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="14">
                            Pas d'enregistrement
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
