{% extends 'base.html.twig' %}

{% block title %}Modification de l'étape "{{ professionnal_career.name }}"{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-10">
                    <h1 class="display-1">
                        Modification de l'étape "{{ professionnal_career.name }}"
                    </h1>
                </div>
                <div class="col-lg-2">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-outline-secondary-custom"  title="Retour vers la liste" href="{{ path('professionnal_careers_index') }}">
                            <i class="bi bi-list-ul"></i>
                        </a>
                        {{ include('admin/professionnal_careers/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ include('admin/professionnal_careers/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
