<!DOCTYPE html>
<html lang="en">
    <head>
        {# Meta tags#}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <meta name="msapplication-TileColor" content="#da532c">

        {# Title tag #}
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Link tags#}
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon_package_v0.16/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon_package_v0.16/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon_package_v0.16/favicon-16x16.png')}}">
        <link rel="manifest" href="{{ asset('favicon_package_v0.16/site.webmanifest')}}">
        <link rel="mask-icon" href="{{ asset('favicon_package_v0.16/safari-pinned-tab.svg')}}" color="#5bbad5">

        {# Webpack Encors tags#}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-magic-01">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-glass">
            <div class="container">
                <a class="navbar-brand" title="Retour vers l'accueil" href="{{ path('app_home') }}">
                    {{ presentation.getPresentation.firstName }}
                    {{ presentation.getPresentation.lastName}}
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fs-6 btn-opened">
                        <i class="bi bi-list"></i>
                    </span>
                    <span class="fs-6 btn-closed d-none">
                        <i class="bi bi-x-lg"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" title="Retour vers l'accueil" href="{{ path('app_home') }}">
                                <i class="bi bi-house"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Presentations">
                                Qui suis je?
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Achievements">
                                Mes réalisations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#WebTechnologies">
                                Mes technologies préférées
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ProfessionnalCareers">
                                Mon parcours
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Hobbies">
                                Mes centres d'intérêt
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="btn btn-outline-secondary-custom">
                            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#ContactMe">
                                Me contacter
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {# Nav section #}
        

        {# Main section #}
        <main>
            {% block body %}{% endblock %}
        </main>

        {# Footer section #}
        <footer class="bg-glass py-2">
            <div class="container">
                <div class="d-flex flex-column flex-lg-row align-items-center justify-content-evenly">
                    <p class="m-0">
                        &#xA9;
                        {{ website.getWebsite.copyright }}
                    </p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#Regulation">
                        Règlement
                    </a>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#Website">
                        Infos site
                    </a>
                    {% if app.user %}
                        <a href="{{ path('app_dashboard') }}">
                            Dashboard
                        </a>
                    {% else %}
                        <a href="{{ path('app_login') }}">
                            Connexion
                        </a>
                    {% endif %}
                </div>
            </div>
        </footer>

        {# Back to top link #}
        <a href="#" title="Retour vers le haut de la page" class="btn btn-outline-secondary-custom back-to-top fs-1 d-none">
            <i class="bi bi-arrow-bar-up"></i>
        </a>
    </body>
</html>
