<!DOCTYPE html>
<html lang="en">
    <head>
        {# Meta tags#}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Title tag #}
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Link tags#}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {# Webpack Encors tags#}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="navbar navbar-dark sticky-top bg-magic-01">
            <div class="container d-flex flex-column flex-lg-row justify-content-between">
                <a class="navbar-brand" href="#">
                    {{ presentation.getPresentation.firstName }}
                    {{ presentation.getPresentation.lastName}}
                </a>
                <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="btn-group my-3 my-lg-0" role="group" aria-label="Basic example">
                    <a href="{{ path('app_home') }}" class="btn btn-secondary-custom">Voir le site</a>
                    <a href="{{ path('app_logout') }}" class="btn btn-secondary-custom">Déconnection</a>
                </div>
            </div>
            
        </header>

        <div class="container-fluid">
            <div class="row">
                {# Nav section #}
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-3">
                        <ul class="nav flex-column">
                            <li class="btn btn-outline-secondary-custom mt-5 mx-2">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-speedometer2"></i>
                                    Dashboard
                                </a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Presentations</span>
                            <a class="link-secondary" title="Ajouter une présentation" href="#">
                                <i class="bi bi-plus-circle"></i>
                            </a>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-list-ul"></i>
                                    Liste
                                </a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Réalisations</span>
                            <a class="link-secondary" title="Ajouter une réalisation" href="#">
                                <i class="bi bi-plus-circle"></i>
                            </a>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-list-ul"></i>
                                    Liste
                                </a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Technologies web</span>
                            <a class="link-secondary" title="Ajouter une technologie" href="#">
                                <i class="bi bi-plus-circle"></i>
                            </a>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-list-ul"></i>
                                    Liste
                                </a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Parcours professionnel</span>
                            <a class="link-secondary" title="Ajouter une étape" href="#">
                                <i class="bi bi-plus-circle"></i>
                            </a>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-list-ul"></i>
                                    Liste
                                </a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Hobbies</span>
                            <a class="link-secondary" title="Ajouter une hobbie" href="#">
                                <i class="bi bi-plus-circle"></i>
                            </a>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-list-ul"></i>
                                    Liste
                                </a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Website</span>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-plus-circle"></i>
                                    Nouvelle information du site
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-list-ul"></i>
                                    Liste des informations du site
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-plus-circle"></i>
                                    Nouvelle information de mise à jour
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-list-ul"></i>
                                    Liste des mises à jour
                                </a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Autre</span>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-plus-circle"></i>
                                    Nouvelle Entreprise
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-list-ul"></i>
                                    Liste des entreprises
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-plus-circle"></i>
                                    Modification utilisateur
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                {# Main section #}
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    {% block body %}{% endblock %}
                </main>
            </div>
        </div>

        {# Back to top link #}
        <a href="#" title="Retour vers le haut de la page" class="btn btn-outline-secondary-custom back-to-top fs-1 d-none">
            <i class="bi bi-arrow-bar-up"></i>
        </a>
    </body>
</html>
