{% extends 'base_admin.html.twig' %}

{% block title %}Liste des information du site web{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-10">
                    <h1 class="display-1">
                        Liste des information du site web
                    </h1>
                </div>
                <div class="col-lg-2">
                    <div class="d-grid gap-2">
                        <a class="btn btn-secondary-custom" title="Ajouter un info du site web" href="{{ path('websites_new') }}">
                            <i class="bi bi-file-earmark-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# List section #}
    <section class="bg-glass py-5 px-2">
        <div class="table-responsive">
            <table class="table tables-sm">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Date de création
                        </th>
                        <th>
                            Date de modification
                        </th>
                        <th>
                            Copyright
                        </th>
                        <th>
                            Règlement
                        </th>
                        <th>
                            Version
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for website in websites %}
                    <tr>
                        <td>
                            {{ website.id }}
                        </td>
                        <td>
                            {{ website.createdAt ? website.createdAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td>
                            {{ website.modifiedAt ? website.modifiedAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td>
                            {{ website.copyright }}
                        </td>
                        <td>
                            {{ website.regulation|raw }}
                        </td>
                        <td>
                            {{ website.version }}
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-outline-secondary-custom" title="Détail" href="{{ path('websites_show', {'id': website.id}) }}">
                                    <i class="bi bi-eye"></i>
                                </a>
                                <a class="btn btn-outline-warning" title="Modifier" href="{{ path('websites_edit', {'id': website.id}) }}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                {{ include('admin_pages/websites/_delete_form.html.twig') }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">
                            Pas d'enregistrement
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    
{% endblock %}
