{{ form_start(form) }}
    <div class="mb-3">
        {{ form_widget(form.email) }}
    </div>
    <div class="mb-3">
        {{ form_widget(form.phone) }}
    </div>
    <div class="mb-3">
        {{ form_widget(form.name) }}
    </div>
    <div class="mb-3">
        {{ form_widget(form.objet) }}
    </div>
    <div class="mb-3">
        {{ form_widget(form.message) }}
    </div>
    <div class="mb-3">
        {{ form_widget(form.company) }}
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-secondary-custom">
            Envoyer
        </button>
    </div>
{{ form_end(form) }}