{% extends 'base.html.twig' %}

{% block title %}Portfolio de Marc GUILLARD{% endblock %}

{% block body %}
    {# Message flash section #}
    {% for message in app.flashes('success') %}
        <p class="alert alert-warning alert-dismissible text-center w-25 alert-position-fixe" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ message }}
        </p>
    {% endfor %}

    {# Presentation section #}
    <section id="Presentations">
        <div class="container-fluid m-0">
            <div class="row align-items-center">
                <div class="col-lg-7 order-lg-2 form-01">
                    <img class="img-93" src="{{ presentation.getPresentation.pictureLink }}" alt="">
                </div>
                <div class="col-lg-5 order-lg-1">
                    <h3 class="display-3 text-white">
                        {{ presentation.getPresentation.firstName }}
                        {{ presentation.getPresentation.lastName }}
                    </h3>
                    <h1 class="title-job">
                        {{ presentation.getPresentation.job|raw }}
                    </h1>
                    <hr class="my-3 bg-white">
                    <p class="leak text-white">
                        {{ presentation.getPresentation.content|raw }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    {# Achievements section #}
    <section class="bg-glass py-5" id="Achievements">
        <div class="container">
            <h3 class="display-3 blend-mode-multiple mb-3">
                Mes réalisations
            </h3>
            
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for key, achievement in achievements %}
                        {% if  key == 0 %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ key }}" class="active" aria-current="true" aria-label="Slide {{key }}"></button>
                        {% else %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ key }}" aria-label="Slide {{ key }}"></button>
                        {% endif %}                        
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for key, achievement in achievements %}
                        {% if  key == 0 %}
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-6 form-02">
                                        {% for key, picture in achievement.pictures %}
                                            {% if key == 0 %}
                                                <img class="img-50" src="{{ asset(picture.link) }}" alt="">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="col-lg-6">
                                        <h5 class="display-5">
                                            {{ achievement.name}}
                                        </h5>
                                        <hr class="my-2">
                                        {{ achievement.content|raw }}
                                        <div class="d-grid gap-2 col-6 mx-auto my-3">
                                            <div class="btn-group">
                                                <a href="{{ achievement.gitLink }}" class="btn btn-outline-secondary-custom">Lien GIT</a>
                                                {% if achievement.httpLink %}
                                                    <a href="{{ achievement.httpLink }}" class="btn btn-outline-secondary-custom">Lien HTML</a>
                                                {% endif %}
                                                <a class="btn btn-outline-secondary-custom" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Plus d'info</a>
                                            </div>
                                        </div>
                                        <div class="collapse shadow mb-5" id="collapseExample">
                                            <div class="card card-body">
                                                <table class="table table-sm">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">
                                                                Autres images
                                                            </th>
                                                            <td>
                                                                {% for key, picture in achievement.pictures %}
                                                                    {% if key != 0 %}
                                                                        <img class="img-20" src="{{ asset(picture.link) }}" alt="">
                                                                    {% else %}
                                                                        <h6 class="text-uppercase">
                                                                            Pas images suplémentaires
                                                                        </h6>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            {% if achievement.endDate %}
                                                                <th scope="row">
                                                                    Date de fin
                                                                </th>
                                                                <td>
                                                                    {{ achievement.endDate ? achievement.endDate|date('d-m-Y H:i:s') : '' }}
                                                                </td>
                                                            {% endif %}
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">
                                                                Date de mise en ligne
                                                            </th>
                                                            <td> 
                                                                {% if achievement.releaseDate %}
                                                                    {{ achievement.releaseDate ? achievement.releaseDate|date('Y-m-d') : '' }}
                                                                {% else %}
                                                                    Pas en ligne
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">
                                                                Date de mise à jour
                                                            </th>
                                                            <td>
                                                                {% if achievement.updateDate %}
                                                                    {{ achievement.updateDate ? achievement.updateDate|date('Y-m-d') : '' }}
                                                                {% else %}
                                                                    Pas de mise à jour
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-evenly small">
                                            <span>
                                                Date de lancement: {{ achievement.startDate ? achievement.startDate|date('d-m-Y H:i:s') : '' }}
                                            </span>
                                            <span>
                                                Statut: {{ achievement.statut }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-6 form-02">
                                        {% for key, picture in achievement.pictures %}
                                            {% if key == 0 %}
                                                <img class="img-50" src="{{ asset(picture.link) }}" alt="">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="col-lg-6">
                                        <h5 class="display-5">
                                            {{ achievement.name}}
                                        </h5>
                                        <hr class="my-2">
                                        {{ achievement.content|raw }}
                                        <div class="d-grid gap-2 col-6 mx-auto my-3">
                                            <div class="btn-group">
                                                <a href="{{ achievement.gitLink }}" class="btn btn-outline-secondary-custom">Lien GIT</a>
                                                {% if achievement.httpLink %}
                                                    <a href="{{ achievement.httpLink }}" class="btn btn-outline-secondary-custom">Lien HTML</a>
                                                {% endif %}
                                                <a class="btn btn-outline-secondary-custom" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Plus d'info</a>
                                            </div>
                                        </div>
                                        <div class="collapse shadow mb-5" id="collapseExample">
                                            <div class="card card-body">
                                                <table class="table table-sm">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">
                                                                Autres images
                                                            </th>
                                                            <td>
                                                                {% for key, picture in achievement.pictures %}
                                                                    {% if key != 0 %}
                                                                        <img class="img-20" src="{{ asset(picture.link) }}" alt="">
                                                                    {% else %}
                                                                        <h6 class="text-uppercase">
                                                                            Pas images suplémentaires
                                                                        </h6>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            {% if achievement.endDate %}
                                                                <th scope="row">
                                                                    Date de fin
                                                                </th>
                                                                <td>
                                                                    {{ achievement.endDate ? achievement.endDate|date('d-m-Y H:i:s') : '' }}
                                                                </td>
                                                            {% endif %}
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">
                                                                Date de mise en ligne
                                                            </th>
                                                            <td> 
                                                                {% if achievement.releaseDate %}
                                                                    {{ achievement.releaseDate ? achievement.releaseDate|date('Y-m-d') : '' }}
                                                                {% else %}
                                                                    Pas en ligne
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">
                                                                Date de mise à jour
                                                            </th>
                                                            <td>
                                                                {% if achievement.updateDate %}
                                                                    {{ achievement.updateDate ? achievement.updateDate|date('Y-m-d') : '' }}
                                                                {% else %}
                                                                    Pas de mise à jour
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-evenly small">
                                            <span>
                                                Date de création: {{ achievement.startDate ? achievement.startDate|date('d-m-Y H:i:s') : '' }}
                                            </span>
                                            <span>
                                                Statut: {{ achievement.statut }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}                        
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>

    {# Preferred technologies section #}
    <section class="py-5" id="WebTechnologies">
        <div class="container-fluid">
            <h3 class="display-3 blend-mode-multiple mb-3">
                Mes technologies préférées
            </h3>
            <div class="d-flex flex-column flex-lg-row align-items-center justify-content-evenly">
                {% for webTechnology in webTechnologies %}
                    <div class="card mb-5 mb-lg-0 text-center card-hover">
                        <img src="{{ asset(webTechnology.pictureLink) }}" class="square-img-24" alt="...">
                        <div class="card-img-overlay p-3 p-lg-5 bg-glass">
                            <h5 class="card-title">
                                {{ webTechnology.name }}
                            </h5>
                            <p class="card-text">
                                {{ webTechnology.content|raw }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </section>

    {# Professionnal career section #}
    <section id="ProfessionnalCareers" class="py-5 bg-glass">
        <h3 class="display-3 blend-mode-multiple mb-3">
            Mon Parcours
        </h3>
        <div class="container">
           {% for professionnalcareer in professionnalcareers %}
                {% if professionnalcareer.Type == 'Emploie' %}
                    <div class="row">
                        <div class="col d-none d-lg-block"></div>
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-end">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge rounded-circle bg-light border">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-end">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="float-end">
                                       {{ professionnalcareer.startDate ? professionnalcareer.startDate|date('M/Y') : '' }} 
                                    </div>
                                    <h4 class="card-title text-muted">
                                        {{ professionnalcareer.name }}
                                    </h4>
                                    <p class="card-text text-muted">
                                        {{ professionnalcareer.content|raw }}
                                    </p>
                                    <table class="table table-sm">
                                        <tbody>
                                            <tr>
                                                <th scope="row">
                                                    Centre de formation
                                                </th>
                                                <td>
                                                    {{ professionnalcareer.employer.name }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Lieu de formation
                                                </th>
                                                <td>
                                                    {% for workSite in professionnalcareer.workSite %}
                                                        {{ workSite.name }}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Durée
                                                </th>
                                                <td>
                                                    {{ professionnalcareer.duration }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col py-2">
                            <div class="card border">
                                <div class="card-body">
                                    <div class="float-end">
                                       {{ professionnalcareer.startDate ? professionnalcareer.startDate|date('M/Y') : '' }} - {{ professionnalcareer.duration }}
                                    </div>
                                    <h4 class="card-title text-muted">
                                        {{ professionnalcareer.name }}
                                    </h4>
                                    <p class="card-text text-muted">
                                        {{ professionnalcareer.content|raw }}
                                    </p>
                                    <hr class="m-2">
                                    <table class="table table-sm">
                                        <tbody>
                                            <tr>
                                                <th scope="row">
                                                    Centre de formation
                                                </th>
                                                <td>
                                                    {% if professionnalcareer.employer.pictureLink %}
                                                        <img class="square-img-10" src="{{ asset(professionnalcareer.employer.pictureLink)}}" alt="">
                                                        <br>
                                                    {% endif %}
                                                    <h5>
                                                        {{ professionnalcareer.employer.name }}
                                                    </h5>
                                                        {{ professionnalcareer.employer.content|raw }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Lieu de formation
                                                </th>
                                                <td>
                                                    {% for workSite in professionnalcareer.workSite %}
                                                        {{ workSite.name }}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Contact
                                                </th>
                                                <td>
                                                    {% if professionnalcareer.employer.httpLink %}
                                                        <a target="_blank" href="{{ professionnalcareer.employer.httpLink }} ">
                                                            <i class="bi bi-link"></i>
                                                            Site web
                                                        </a>
                                                    {% endif %}
                                                    {% if professionnalcareer.employer.email %}
                                                        <a href="mailto:{{ professionnalcareer.employer.email }}">
                                                            <i class="bi bi-at"></i>
                                                            Email
                                                        </a>
                                                    {% endif %}
                                                    {% if professionnalcareer.employer.phone %}
                                                        <a href="tel:{{ professionnalcareer.employer.phone }}">
                                                            <i class="bi bi-telephone-fill"></i>
                                                            Téléphone
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-end">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge form-03 bg-success border">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-end">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col d-none d-lg-block"></div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    {# Hobbies section #}
    <section class="py-5" id="Hobbies">
        <h3 class="display-3 blend-mode-multiple mb-3">
            Mes centres d'intérêt
        </h3>
        <div class="container-fluid">
            <div class="row align-items-center justify-content-evenly">
                {% for hobby in hobbies %}
                    <div class="col-lg-3">
                        <div class="mx-2 mb-3 mb-lg-0 border rounded-pill">
                            <img src="{{ asset(hobby.pictureLink) }}" class="square-img-10 rounded-circle m-3 circle bg-white" alt="...">
                            <h5 class="display-5 blend-mode-multiple">
                                {{ hobby.name }}
                            </h5>
                            <p class="blend-mode-multiple">
                                {{ hobby.content|raw }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {# MODALES #}
        {# Contact-me section #}
        <div class="modal fade" id="ContactMe" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-white">
                    <div class="modal-header text-white bg-secondary-custom">
                        <h5 class="modal-title" id="exampleModalLabel">Me contacter</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6 class="display-6 blend-mode-multiple">
                            Par téléphone :
                        </h6>
                        <a class="mx-auto" href="tel:{{ presentation.getPresentation.phone }}">
                            {{ presentation.getPresentation.phone }}
                        </a>
                        <hr class="m-4">
                        <h6 class="display-6 blend-mode-multiple">
                            Via le fomulaire ci-dessous :
                        </h6>
                        <p class="leak">
                            Les champs signaler par "*" sont obligatoire.
                        </p>
                        {{ include('basic_pages/_contact_me_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>

        {# Regulation section #}
        <div class="modal fade" id="Regulation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-white">
                    <div class="modal-header text-white bg-secondary-custom">
                        <h5 class="modal-title" id="exampleModalLabel">Règlement du site</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ website.getWebsite.regulation }}
                    </div>
                </div>
            </div>
        </div>

        {# Website section #}
        <div class="modal fade" id="Website" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-white">
                    <div class="modal-header text-white bg-secondary-custom">
                        <h5 class="modal-title" id="exampleModalLabel">Informations du site</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Version du site:
                            {{ website.getWebsite.version }}
                        </p>
                        <hr class="m-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        Date
                                    </th>
                                    <th scope="col">
                                        titre
                                    </th>
                                    <th scope="col">
                                        Description
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for update in website.getWebsite.upldate %}
                                    <tr>
                                        <td>
                                            {{ update.modifiedAt ? update.modifiedAt|date('d-m-Y H:i:s') : '' }}
                                        </td>
                                        <td>
                                            {{ update.name }}
                                        </td>
                                        <td>
                                            {{ update.content }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
